pip install opencv-python
pip install tensorflow 
pip install scipy 
pip install numpy 
pip install gTTS 
pip install tKinter 
pip install speech_recognition 
pip install pyAudio 
pip install matplotlib
